Repository SinguloStation13/SinguloStation13-Archived, changes with the labels that .github/labeler.yml gives for each.
All labels: Admin, Config, Dependencies, DME Edit, Sprites, Map Change, Sound, SQL, tgui, Github

.github/labeler.yml:

Admin:
  - 'code/modules/admin/**'
  - 'whitesands/code/modules/admin/**'

# Any file within the config subfolder
Config:
  - 'config/**'

Dependencies:
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'

# When the .DME is changed
DME Edit:
  - './*.dme'
  - '**/*.dme'

# Any .dmi changes
Sprites:
  - '**/*.dmi'

# Changes to a .dmm or anything in the _map subfolder
Map Change:
  - '**/*.dmm'
  - '_maps/**'

# Any changes to .ogg files are marked as sound
Sound:
  - '**/*.ogg'

# Changes to the SQL subfolder
SQL:
  - 'SQL/**'

# Changes to the tgui subfolder
tgui:
  - 'tgui/**'

# Changes to the .Github subfolder
Github:
  - '.github/**'

Brings back old canister sprites=
  whitesands/code/modules/atmospherics/machinery/portable/canister.dm
Labels: none

title card
  icons/runtime/default_title.dmi
Labels: Sprites

Animated title card
  icons/runtime/default_title.dmi
Labels: Sprites

Revert "Animated title card"
  icons/runtime/default_title.dmi
Labels: Sprites

Animated title card with crediting
  icons/runtime/default_title.dmi
Labels: Sprites

Singulostation title card by Kube Root (#26)
  icons/runtime/default_title.dmi
Labels: Sprites

Plastic flap and holofirelock nerfs (#19)
  code/game/objects/structures/holosign.dm
  code/game/objects/structures/plasticflaps.dm
  singulostation/code/game/objects/structures/holosign.dm
  tgstation.dme
Labels: DME Edit

Just about works
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/death.dm
  code/modules/mob/mob.dm
  code/world.dm
  singulostation/code/datums/respawn.dm
  tgstation.dme
Labels: DME Edit

Red's suggested changes
  singulostation/code/modules/research/xenobiology/crossbreeding/_structures.dm
Labels: none

Why didn't I remove this earlier?
  singulostation/code/modules/research/xenobiology/crossbreeding/_structures.dm
Labels: none

[Port] Adamantine crossbreeds (#18)
  singulostation/code/_HELPERS/unsorted.dm
  singulostation/code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  singulostation/code/modules/research/xenobiology/crossbreeding/_misc.dm
  singulostation/code/modules/research/xenobiology/crossbreeding/_structures.dm
  singulostation/code/modules/research/xenobiology/crossbreeding/crystalized.dm
  singulostation/icons/obj/slimecrossing.dmi
  tgstation.dme
Labels: DME Edit, Sprites

Config update (#21)
  config/config.txt
  config/game_options.txt
Labels: Config
